.pendulum {
  animation: animate-pendulum 1.5s ease-in-out infinite;
  transform-origin: 50% 100%;
}

@keyframes animate-pendulum {
  0%, 100% {
    transform: rotate(10deg);
  }
  50% {
    transform: rotate(-10deg);
  }
}

.jump {
  animation: animate-jump 0.5s ease-in-out infinite;
}

@keyframes animate-jump {
  0%, 100% {
    transform: translateY(1em);
  }
  50% {
    transform: translateY(-1em);
  }
}

.pop {
  animation: animate-pop 1s ease-in-out infinite;
}

@keyframes animate-pop {
  0%, 100% {
    transform: scale(0.75);
  }
  50% {
    transform: scale(1.25);
  }
}

.spin {
  animation: animate-spin 1s linear infinite;
}

@keyframes animate-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.ice-king-pop {
  animation: animate-ice-king-pop 2s ease-in-out forwards;
}

@keyframes animate-ice-king-pop {
  0% {
    transform: scale(0);
    opacity: 1;
  }
  50% {
    transform: scale(1.5);
    opacity: 1;
  }
  100% {
    transform: scale(0);
    opacity: 0;
  }
}
