body, html {
  min-height:100%;
  width: 100%;
  padding: 0;
}

body {
  margin: 0;
  background-color:#444;
  font-size: 18px;
  background-image: url('src/media/treehouse.jpeg');
  background-size: 100% 100%;
}

body, a:link, a:visited, a:active {
  color: lightblue;
}

.title {
  font-family: 'Germania One', Serif;
  font-size: 64px;
  text-shadow: 1px 1px 2px white;
  color: rgb(204, 38, 38);
  text-align: center;
}
