body, html {
  height:100%;
  width: 100%;
  padding: 0;
}

body {
  margin: 0;
  background-color:#444;
  font-size: 18px;
  font-family: 'Sanchez', sans-serif;
  background-image: url('src/media/treehouse.jpeg');
  background-size: 100% 100%;
  overflow: hidden;
}

body, a:link, a:visited, a:active {
  color: lightblue;
}

header {
  width: 100%;
  height: 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.title {
  font-family: 'Germania One', Serif;
  font-size: 64px;
  text-shadow: 1px 1px 2px white;
  color: rgb(204, 38, 38);
  text-align: center;
  margin: 0;
}

.canvas {
  width: 100%;
  height: 80%;
}

footer {
  display: flex;
  justify-content: space-around;
  width: 100%;
  height: 10%;
}

button {
  display: inline-block;
  font-family: 'Sanchez', sans-serif;
  font-size: 20px;
  font-weight: bold;
  margin: 20px;
  padding: 20px;
  border-radius: 10px;
  border-width: 3px;
  border-color: #5EB04C;
  border-style: solid;
  background-color: #a8ff95;
  color: #444444;
}

button:hover {
  cursor: pointer;
}

button:active {
  background-color: #5EB04C;
}

button:focus {
  outline: none;
}

.ice-king {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 10;
  pointer-events: none;
}

.ice-king img {
  transform: scale(0);
  opacity: 0;
}

.dancer {
  z-index: 5;
}
